.container {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 rem(24);
  min-height: rem(66);
  background-color: alpha(var(--mantine-color-dark-8));

  @media (max-width: $mantine-breakpoint-sm) {
    min-height: rem(60);
    padding: 0 rem(16);
  }
}

.wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;
}


.drawerContent,
.drawerBody {
  display: flex;
  flex-direction: column;
  flex: 0 unset;
}

.drawerBody {
  flex: 1;
}

.drawerTitle {
  font-weight: 600;
}
