.container {
  position: absolute;
  top: rem(16);
  z-index: 1;
}

.top-right {
  right: rem(16);
}

.top-left {
  left: rem(16);
}

.relative {
  position: relative;
  top: unset;
  right: unset;
  left: unset;
}
