.container {
  position: relative;

  min-height: rem(36);
  align-items: center;
}

.wrapper {
  align-items: flex-start;
  justify-content: space-between;
}

.right {
  justify-content: flex-end;

  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
    max-width: unset;
  }
}
