.container {
  position: relative;
}

.wrapper {
  align-items: flex-start;
  justify-content: space-between;
}

.right {
  justify-content: flex-end;

  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
    max-width: unset;
  }
}

.filterCard {
  position: sticky;
  left: 0;
  top: 0;
  padding: rem(16);
  border-radius: var(--mantine-radius-lg);
}
