.container {
  position: relative;
  border-radius: var(--mantine-radius-lg);
  flex: 1;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  min-width: rem(105);
  font-size: var(--mantine-font-size-md);
  height: rem(34);
  padding: 0 rem(16);

  font-weight: 600;
  border-radius: var(--mantine-radius-lg);
  background-color: var(--mantine-color-brand-7);
  color: var(--mantine-color-white);

  z-index: 1;

  &:hover {
    background-color: var(--mantine-color-brand-8);
  }
}

.loading {
  background-color: var(--mantine-color-brand-6);
  border: unset;

  &:hover {
    background-color: unset;
  }
}

.disabled {
  pointer-events: none;
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
  border: rem(1) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.disabled::before,
.disabled::after {
  animation: none;
  opacity: 0;
}

.gradient {
  position: absolute;
  inset: 0;
  z-index: 0;
}
