.container {
  max-width: rem(400);
  padding: rem(24) rem(16) rem(32);
  width: 100%;

  background-color: alpha(var(--mantine-color-dark-6), 1);
  border-radius: var(--mantine-radius-lg);

  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  width: 100%;
}

.leftFooterStack {
  align-items: flex-start;
}

.title {
  font-size: rem(24);
  text-align: center;
}

.button {
  width: 100%;
}

.secondaryButton {
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-dark-2);
  margin: auto;

  &:hover {
    color: white;
  }
}
