.container {
  flex: 1;
}

.footer {
  font-size: rem(14);
  margin-top: auto;
}

.copyright {
  font-size: rem(12);
  color: var(--mantine-color-dimmed);
}

.signOutButton {
  display: flex;
  align-items: center;
  gap: rem(8);
  font-size: rem(14);

  &:hover {
    color: white;
  }
}
