.container {
  flex: 1;
}

.footer {
  font-size: var(--mantine-font-size-sm);
}

.copyright {
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-dimmed);
}

.signOutButton,
.signInButton {
  display: flex;
  align-items: center;
  gap: rem(12);

  &:hover {
    color: white;
  }
}
