.container {
  flex: 1;
  gap: rem(14);
}

.footer {
  font-size: var(--mantine-font-size-sm);
  margin-top: auto;
}

.copyright {
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-dimmed);
}

.signOutButton,
.signInButton {
  display: flex;
  align-items: center;
  gap: rem(12);

  &:hover {
    color: light-dark(var(--mantine-color-dark-8), var(--mantine-color-white));
  }
}
