.container {
  min-width: rem(10);
  min-height: rem(10);
  border-radius: rem(100);
  background-color: var(--mantine-color-red-6);
}

.active {
  background-color: var(--mantine-color-green-6);
}

.completed {
  background-color: var(--mantine-color-green-9);
}

.inactive {
  background-color: var(--mantine-color-gray-3);
}
