.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: rem(4);
  min-height: rem(10);
  background-color: var(--mantine-color-red-6);
}

.round {
  min-width: rem(10);
  min-height: rem(10);
  border-radius: rem(100);
}

.static {
  position: static;
}

.active {
  background-color: var(--mantine-color-green-6);
}

.completed {
  background-color: var(--mantine-color-green-9);
}

.inactive {
  background-color: var(--mantine-color-gray-3);
}
