.container {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;

  & video {
    flex: 1;
    object-fit: contain;
    background-color: var(--mantine-color-dark-6);
  }
}

.captureOverlay {
  position: absolute;
  inset: 0;
  z-index: 1;

  background-image: url("/capture.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;

  @media (max-width: $mantine-breakpoint-sm) {
    background-size: 85%;
  }
}

.buttonGroup {
  position: absolute;
  right: rem(16);
  top: rem(16);
  z-index: 1;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  animation-delay: 1s;
}

.button {
  display: flex;
  width: 100%;
  justify-content: center;
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  90% {
    opacity: 0.9;
    visibility: visible;
  }
  100% {
    opacity: 1;
  }
}
