.container {
  position: relative;
  flex: 1;
  height: 100%;
}

.buttons {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;

  transform: translate(-50%, -50%);
  justify-content: center;
  padding: rem(16);
  width: fit-content;
  background-color: alpha(
    light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6)),
    0.5
  );
  border-radius: rem(16);
  display: flex;
  gap: rem(16);
}

.dndIcon {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(22px, -14px);
  opacity: 0.5;
}

.imageCell {
  position: relative;
  gap: rem(8);
  flex: 1;
  height: 100%;
  width: 100%;
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;
}

.overlayImage {
  position: absolute;
  inset: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
  opacity: 50%;
  z-index: 1;
  pointer-events: none;
}

.capturerWrapper {
  position: relative;
  flex: 1;
}

.progressCell {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  margin: auto;
  width: 100%;
  max-width: rem(200);
}

.uploadingStack {
  max-width: rem(150);
  min-height: rem(106);
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: rem(8);
  height: rem(36);
}

.content {
  display: flex;
  flex-direction: column;
}

.checkbox {
  display: flex;
  gap: rem(16);

  z-index: 1;
}

.checkboxWrapper {
  padding: rem(8) rem(12);

  position: absolute;
  left: rem(16);
  top: rem(16);

  background-color: alpha(
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6)),
    0.5
  );
  border: rem(1) solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-6));
  border-radius: rem(16);
  z-index: 1;
}

.enableScanCheckbox {
  color: var(--mantine-color-gray-2);
}

.nextButtons {
  position: relative;
  padding: rem(16);
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  width: 100%;
  border-radius: rem(16);
  gap: rem(12);
}

.closeStartAnalysis {
  position: absolute;
  top: rem(16);
  right: rem(16);
}

.openStartAnalysisButton {
  position: absolute;
  top: rem(16);
  right: rem(16);
  max-width: rem(100);
  width: 100%;
}
