.container {
  position: relative;
}

.indicator {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;

  transform: translate(-50%, -50%);
}

.button {
  z-index: 0;

  &[data-disabled] {
    color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
  }
}
