.container {
  position: relative;
}

.indicator {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;

  transform: translate(-50%, -50%);
}

.button {
  color: var(--mantine-color-gray-3);
  z-index: 0;

  &[data-disabled] {
    color: var(--mantine-color-dark-3);
  }
}
