.container {
  position: relative;
}

.indicator {
  position: absolute;
  top: 0;
  left: -rem(24);
  z-index: 0;
}

.button {
  z-index: 0;

  &[data-disabled] {
    color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
  }
}
