.container {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  color: var(--mantine-color-gray-2);
}

.image {
  display: flex;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.imageWrapper {
  width: 100%;
}

.date {
  position: absolute;
  right: rem(16);
  bottom: rem(12);
}

.topLeft {
  top: rem(8);
  bottom: unset;
  left: rem(8);
  right: unset;
}
