.container {
  flex: 1;
}

.right {
  max-width: rem(250);
  width: 100%;
  margin-left: auto;

  @media (max-width: $mantine-breakpoint-xs) {
    max-width: unset;
  }
}

.skeleton {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  background-color: var(--mantine-color-dark-6);
}

.content {
  display: block;
  gap: rem(16);
  padding: rem(16);
  flex: 1;
}

.segmentedControl {
  position: absolute;
  right: rem(16);
  top: rem(16);
}
