.container {
  align-items: center;
  font-size: var(--mantine-font-size-md);
  gap: rem(8);
  padding: rem(12) rem(16) 0;
  border-radius: var(--mantine-radius-lg) var(--mantine-radius-lg) 0 0;
}

.content {
  flex-wrap: nowrap;
  gap: rem(12);
}

.taskName {
  font-weight: 600;
  font-size: var(--mantine-font-size-md);
}

.concernName {
  z-index: 1;
  font-size: var(--mantine-font-size-sm);
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
