.skeleton {
  position: absolute;
  inset: 0;
  border-radius: 0;
  width: 100%;

  & video {
    object-fit: contain;
  }
}

.relative {
  position: relative;
  inset: unset;
}

.playButton {
  cursor: pointer;
  display: flex;
  border-radius: rem(8);
  pointer-events: auto;
  padding: rem(8);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.15);

  &:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
}

.left {
  left: rem(16);
  bottom: rem(12);
  top: unset;
  transform: unset;
}

.playIcon {
  color: var(--mantine-color-brand-6);
  pointer-events: none;
}

.small {
  width: rem(24);
  height: rem(24);
  position: static;
  transform: unset;
}

.slider {
  flex: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.date {
  position: absolute;
  bottom: rem(12);
  right: rem(16);
}

.thumbnail {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 999;
}
