.icon {
  margin-right: rem(8);
}

.stack {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: rem(16);
  gap: rem(16);
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  border-radius: var(--mantine-radius-lg);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    width: 90%;
    height: 10px;
    box-shadow: var(--mantine-shadow-sm);
    pointer-events: none;
    animation: unset;
  }
}

.item {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;

  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}
