.buttonText {
  margin-left: rem(8);
}

.text {
  font-size: var(--mantine-font-size-sm);
  text-align: center;
}

.banner {
  justify-content: center;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  padding: rem(8) rem(16);
  gap: rem(8);
  border-radius: var(--mantine-radius-lg);
}
