.container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: fit-content;
  padding: rem(4) rem(16);
  background-color: var(--mantine-color-dark-6);
  border-radius: 1rem;
  margin-right: auto;
  margin-top: rem(16);

  &__bot {
    margin-right: unset;
    margin-left: auto;
    background-color: var(--mantine-color-dark-6);
  }

  &:first-child {
    margin-top: auto;
  }
}

.text {
  position: relative;
  display: flex;
  gap: rem(8);
  margin: rem(8) 0;
  /* user-select: all; */


  & span {
    &:first-child {
      font-size: 0.8rem;
    }

    &:nth-child(2) {
      max-width: 25rem;
    }
  }
}

.label {
  color: var(--mantine-color-dark-2);
  font-size: rem(14);
}

.markdownWrapper {
  margin: auto;

  & p {
    margin: 0;
  }
}

.imageWrapper {
  background-color: var(--mantine-color-dark-5);
  border-radius: var(--mantine-font-size-md);
}
