.container {
  cursor: default;
  overflow: hidden;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: var(--mantine-radius-lg);
  width: 100%;
  height: rem(50);
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  padding: 0 rem(8);
}

.date {
  white-space: nowrap;
}

.buttonGroup {
  flex-wrap: nowrap;
  margin-left: auto;
}

.button {
  padding: rem(6);
}
