.container {
  width: 100%;
  overflow: auto;
  position: relative;
  flex: 1;
}

.slider {
  height: 100%;
  display: flex;
  gap: rem(16);
}

.slider img {
  height: 100%;
  width: rem(240);
  flex-shrink: 0;
  object-fit: cover;
  overflow: hidden;
  border-radius: rem(16);
  margin: 0;
}
