.container {
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 0;

  transform: translateY(-2.5%);

  @media (max-width: $mantine-breakpoint-sm) {
    transform: translateY(-1.25%);
  }
}

.grid {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  @media (max-width: $mantine-breakpoint-sm) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
