.container {
  justify-content: center;
  align-items: center;
  gap: 0;

  transform: translateY(-2.5%);
}

.mobile {
  transform: translateY(-1.25%);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-content: center;
}

.horizontal {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
