.container {
  gap: rem(8);
}

.wrapper {
  gap: rem(8);
  padding: 0 rem(16) 0 rem(12);
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
  border-bottom: none;
  flex-wrap: nowrap;
  justify-content: space-between;

  &:last-child {
    margin: unset;
  }
}

.title {
  flex-wrap: nowrap;
  max-width: 65%;
}

.grid {
  row-gap: 0;
  column-gap: rem(8);
  width: 100%;
  max-width: 30%;
}

.name {
  white-space: wrap;
  font-size: var(--mantine-font-size-md);
}
