.row {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.indicator {
  width: rem(12);
  height: rem(12);
  border-radius: rem(100);
  background-color: var(--mantine-color-gray-3);
}

.active {
  background-color: var(--mantine-color-green-7);
}

.item {
  position: relative;
  border-radius: var(--mantine-radius-lg);
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  border: rem(1) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));

  &:last-child {
    margin-bottom: unset;
  }
}

.title {
  font-size: var(--mantine-font-size-md);
  gap: rem(12);
  align-items: center;
}

.skeleton {
  position: relative;
  z-index: 0;
  margin-bottom: rem(16);
  height: unset;
  flex: 0;
}

.control {
  padding-right: rem(12);
}

.selectWrapper {
  flex: 1;
  max-width: rem(300);
  margin-left: auto;

  @media (max-width: $mantine-breakpoint-xs) {
    max-width: unset;
  }
}

.selected {
  /* border-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-3)); */
}

.canceled {
  border-color: alpha(var(--mantine-color-red-9), 0.5);
}
