.container {
  gap: 0;
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
  border: rem(1) solid var(--mantine-color-dark-5);
  min-width: rem(300);
}

.heading {
  height: rem(36);
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: rem(8);
  border-radius: var(--mantine-radius-lg) var(--mantine-radius-lg) 0 0;
}

.content {
  padding: rem(16);
}

.ctaBox {
  gap: rem(12);
}

.ctaText {
  font-size: var(--mantine-font-size-sm);
  text-align: center;
}

.showProductsHeading {
  cursor: pointer;
  justify-content: center;
  flex: 1;
  gap: rem(8);

  & p {
    cursor: pointer;
  }
}

.exampleWrapper {
  gap: 0;
  border-radius: var(--mantine-radius-lg);
}

.ringProgressLabel {
  display: flex;
  justify-content: center;
}

.ringProgressLabelText {
  font-weight: 600;
  text-align: center;
  size: var(--mantine-font-size-sm);
}

.ringWrapper {
  flex-wrap: nowrap;
  align-items: flex-start;
}

.solutionName {
  font-size: var(--mantine-font-size-md);
  color: var(--mantine-color-dark-9);
}
