.container {
  margin: auto;
  gap: rem(8);
  align-items: center;
  max-width: rem(500);
}

.title {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: rem(8);
}

.text {
  max-width: rem(800);
  text-align: center;
  font-size: var(--mantine-font-size-sm);
}
