.container {
  flex: 1;
}

.title {
  font-size: rem(18);
  text-align: center;
}

.wrapper {
  border-radius: var(--mantine-radius-lg);
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: rem(450);
  padding: rem(24) rem(16) rem(32);
  width: 100%;

  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  border-radius: var(--mantine-radius-lg);

  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  width: 100%;
}

.button {
  width: 100%;
}

.icon {
  margin-right: rem(8);
}
