.container {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: var(--mantine-radius-lg);
  background-color: var(--mantine-color-dark-6);
  overflow: hidden;
  width: 100%;
  flex: 1;
}

.item {
  border-radius: var(--mantine-radius-lg);
  object-fit: contain;
  position: relative;
  height: 100%;
  width: 100%;
  flex: 1;
}
