.container {
  gap: rem(12);
  width: 100%;
  overflow: hidden;
  display: flex;
  padding: 0 rem(16) rem(16);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nameWrapper {
  gap: rem(12);
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & p {
    cursor: pointer;
  }
}

.scoreWrapper {
  flex-wrap: nowrap;
  gap: rem(8);
}

.userName {
  font-weight: 600;
  text-overflow: ellipsis;
}
