.group {
  border-radius: var(--mantine-radius-lg);
  width: fit-content;
  padding: rem(8);
  background-color: alpha(var(--mantine-color-dark-6),0.5);
}

.inverse {
  flex-direction: row-reverse;
}

.inverseIcon {
  transform: scaleX(-1);
}

.selected {
  background-color: alpha(var(--mantine-color-dark-6),0.75);
}

.action {
  gap: rem(8);
}

.icon {
  font-size: rem(20);
}

.votes {
  font-size: rem(24);
  font-weight: 600;
}

.filled {
  color: var(--mantine-color-gray-2);
  fill: var(--mantine-color-gray-2);
}

.filledButton {
  background-color: alpha(var(--mantine-color-gray-2), 0.25);

  &:hover {
    background-color: alpha(var(--mantine-color-gray-2), 0.25);
  }
}
