.container {
  display: flex;
  flex-direction: column;
  width: unset;
  flex: 1 0;
  min-width: rem(300);
}

.wrapper {
  position: relative;
  padding: rem(16);
  border-radius: var(--mantine-radius-lg);
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    width: 90%;
    height: 10px;
    box-shadow: var(--mantine-shadow-sm);
    pointer-events: none;
    animation: unset;
  }
}

.icon {
  margin-right: rem(8);
}

.item {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.avatarWrapper {
  cursor: pointer;
  display: flex;
}
