.container {
  display: flex;
  flex-direction: column;
  padding: rem(16);
  gap: rem(16);
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  border-radius: var(--mantine-radius-lg);
  width: unset;
  flex: 1 0;
  min-width: rem(300);
}

.icon {
  margin-right: rem(8);
}

.item {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.avatarWrapper {
  cursor: pointer;
  display: flex;
}
