.container {
  position: relative;
  border-radius: var(--mantine-radius-lg);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    width: 90%;
    height: 10px;
    box-shadow: var(--mantine-shadow-sm);
    pointer-events: none;
  }
}

.labelGroup {
  cursor: pointer;
  gap: rem(8);
  align-items: center;
  font-size: var(--mantine-font-size-sm);
}

.audio {
  width: 100%;
}

.header {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  margin-right: rem(8);
}

.transcriptionWrapper {
  overflow: auto;
}

.transcription {
  min-height: rem(200);
}

.audioStack,
.trascriptionStack {
  gap: rem(12);
}
