.container {
  flex: 1;
}

.content {
  overflow-y: auto;
  max-height: calc(100vh - rem(284));
}

.button {
  margin: 0 auto;
  max-width: rem(200);
  width: 100%;

  @media (max-width: $mantine-breakpoint-xs) {
    max-width: unset;
  }
}
