.content {
  max-height: rem(600);
  overflow-y: auto;

  @media (max-width: $mantine-breakpoint-sm) {
    max-height: rem(60vh);
  }
}

.button {
  margin: 0 auto;
  max-width: rem(300);
  width: 100%;
}
