.container {
  justify-content: center;
  align-items: center;
  gap: 0;

  @media (min-width: $mantine-breakpoint-sm) {
    transform: translateY(-2.5%);
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-content: center;

  @media (max-width: $mantine-breakpoint-sm) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
