.container {
  flex: 1;
  max-width: rem(175);
  min-width: rem(175);

  @media (max-width: $mantine-breakpoint-xs) {
    max-width: unset;
  }
}

.dropdown {
  padding: rem(8);
}

.option {
  &:hover {
    background-color: var(--mantine-color-dark-5) !important;
  }
}
