.container {
  flex: 1;
  max-width: rem(250);
  min-width: rem(200);

  @media (max-width: $mantine-breakpoint-xs) {
    max-width: unset;
  }
}

.dropdown {
  padding: rem(8) 0 0 rem(8);

  @media (max-width: $mantine-breakpoint-xs) {
    padding: rem(8) 0 rem(8) rem(8);
  }
}
