.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.buttons {
  position: absolute;
  bottom: rem(16);
  left: rem(16);
  right: rem(16);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  justify-content: center;
}
