.container {
  gap: 0;
  position: relative;
}

.head {
  cursor: pointer;
  gap: rem(8);
  margin-right: auto;
}

.content {
  gap: 0;
  padding: rem(8);
}

.item {
  cursor: pointer;
  padding: rem(8) rem(16);
  border-radius: var(--mantine-radius-lg);

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  }
}

.dropdown {
  padding: 0;
  min-width: rem(210);
  z-index: 1 !important;
}
