.content {
  position: relative;
  min-height: rem(250);
  flex: 1;
  gap: 0;
  overflow: auto;
}

.list {
  position: absolute;
  inset: 0;
}

.icon {
  width: rem(20);
}

.taskStatusButton {
  flex: 1;
  background-color: var(--mantine-color-dark-6);
  border: rem(1) solid var(--mantine-color-dark-5);
}

.selectedButton {
  background-color: var(--mantine-color-dark-5);
  border: rem(1) solid var(--mantine-color-dark-4);

  &:hover {
    background-color: var(--mantine-color-dark-4);
    border: rem(1) solid var(--mantine-color-dark-3);
  }
}

.calendarHeader {
  margin: auto;
  width: calc(100%);
  text-align: center;
  max-width: unset;
  margin-bottom: rem(12);
}

.calendarMonth {
  width: 100%;
  text-align: center;
}

.emptyRow {
  min-height: rem(32);
  width: 100%;
}
