.container {
  position: static;
  width: 100%;
}

.disclaimer {
  padding: rem(8) 0;
  text-align: center;
  font-size: var(--mantine-font-size-xs);
}

.modalContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: rem(800);
}

.modalBody {
  display: flex;
  flex-direction: column;
  flex: 1;
}
