.container {
  gap: rem(6);
  padding: rem(16);
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  border-radius: var(--mantine-radius-lg);
  width: 100%;
}

.title {
  font-size: var(--mantine-font-size-xs);
}

.solutionsCard {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  border-radius: 0 0 rem(16) rem(16);
}
