.container {
  position: relative;

  padding: rem(8) rem(16) rem(16);
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
}

.title {
  display: flex;
  align-items: center;
  font-size: var(--mantine-font-size-xs);
}

.wrapper {
  gap: rem(8);
}

.footer {
  font-size: var(--mantine-font-size-xs);
  text-align: center;
  margin-top: rem(8);
}
