.container {
  position: relative;

  padding: rem(8) rem(16) rem(16);
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
}

.title {
  display: flex;
  align-items: center;
  font-size: var(--mantine-font-size-xs);
}

.wrapper {
  gap: rem(8);
}

.content {
  overflow: auto;
  flex-wrap: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
}

.suggestionRow {
  display: "grid";
  grid-template-columns: repeat(auto-fill, minmax(1fr, rem(120)));
  gap: rem(12);
  flex-wrap: nowrap;
}

.footer {
  font-size: var(--mantine-font-size-xs);
  text-align: center;
  margin-top: rem(8);
}
