.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: rem(12);
}

.list {
  flex: 1;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  border-radius: var(--mantine-radius-lg);
}
