.container {
  flex: 1;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem(200), 1fr));

  flex: 1;
  position: relative;
}

.scrollArea {
  position: absolute;
  inset: 0;
}

.stacks {
  flex: 1;
  height: 100%;
  gap: rem(12);
}
