.container {
  flex: 1;
}

.followYou {
  flex: 1;
  gap: rem(12);
}

.top {
  gap: rem(12);
  align-items: flex-start;

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.skeleton {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}
