.container {
  gap: 0;
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  border-radius: var(--mantine-radius-lg) var(--mantine-radius-lg) 0 0;
}

.exampleContainer {
  display: flex;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  background-color: alpha(
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5)),
    0.5
  );
}

.title {
  padding: rem(12) rem(16) rem(8);
  font-size: var(--mantine-font-size-xs);
}

.exampleImage,
.iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  object-fit: contain;
}

.carouselRoot {
  position: absolute;
  inset: 0;
}

.carouselRoot,
.carouselViewport,
.carouselSlide {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.carouselContainer {
  flex: 1;
  height: 100%;
}

