.container {
  flex: 1;
}

.content {
  position: relative;

  flex: 1;
  width: 100%;
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;
}

.videoWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: rem(600);
  background-color: var(--mantine-color-dark-6);
}

.video {
  position: absolute;
  object-fit: cover;
  height: 100%;
}

.silhouetteOverlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.5);
}

.buttonGroup {
  position: absolute;
  left: rem(16);
  right: rem(16);
  top: rem(16);
  z-index: 3;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  animation-delay: 0.5s;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  border-radius: var(--mantine-radius-lg);

  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.indicatorLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  90% {
    opacity: 0.9;
    visibility: visible;
  }
  100% {
    opacity: 1;
  }
}
