.container {
  flex: 1;
}

.content {
  position: relative;
  flex: 1;
  width: 100%;
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;

  & video {
    flex: 1;
    object-fit: contain;
    background-color: var(--mantine-color-dark-6);
  }
}

.buttonGroup {
  position: absolute;
  left: rem(16);
  right: rem(16);
  top: rem(16);
  z-index: 1;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  animation-delay: 0.5s;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: rem(40);
  flex: 1;
  border-radius: var(--mantine-radius-lg);
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

.indicatorLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  90% {
    opacity: 0.9;
    visibility: visible;
  }
  100% {
    opacity: 1;
  }
}
