.container {
  display: none;
  position: fixed;
  left: rem(32);
  right: rem(32);
  bottom: rem(32);
  animation: fadeIn 0.5s forwards;
  z-index: 99;
  margin-top: auto;

  @media (max-width: $mantine-breakpoint-sm) and (display-mode: fullscreen) {
    display: block;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
