.container {
  display: none;
  position: fixed;
  left: 50%;
  top: rem(50%);
  transform: translate(-50%, -50%);
  animation: fadeIn 0.5s forwards;
  width: 100%;
  max-width: calc(100% - rem(64));
  z-index: 99;
  margin-top: auto;

  @media (max-width: $mantine-breakpoint-sm) and (display-mode: fullscreen) {
    display: block;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
