.container {
  max-width: rem(440);
  width: 100%;
  gap: 0;
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;
}

.name {
  display: flex;
  align-items: center;
}

.heading {
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-radius: var(--mantine-radius-lg) var(--mantine-radius-lg) 0 0;
  background-color: var(--mantine-color-dark-8);
  border-radius: rem(15) 0 0;
  overflow-x: hidden;
  overflow-y: visible;
  padding: rem(16) 0;
  gap: rem(4);
}

.premium {
  background-image: linear-gradient(
    45deg,
    var(--mantine-color-dark-8) 0%,
    var(--mantine-color-dark-6) 25%,
    var(--mantine-color-dark-7) 50%,
    var(--mantine-color-dark-5) 75%,
    var(--mantine-color-dark-8) 100%
  );
}

.priceGroup {
  flex-wrap: nowrap;
  gap: rem(4);
  color: white;
  width: 100%;
  justify-content: center;
}

.content {
  padding: rem(16);
}
