.container {
  flex-wrap: nowrap;
  gap: rem(8);
  margin-top: auto;
}

.vertical {
  flex-direction: column;
}

.icon {
  width: rem(16);
  height: rem(16);
}

.buttonText {
  cursor: pointer;
  font-size: rem(12);
}

.button {
  flex: 1;
  width: 100%;
}

.selected {
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-dark-5);
  border: 1px solid var(--mantine-color-dark-3);
}

.activeButtonText,
.activeIcon {
  color: var(--mantine-color-white);
}
