.container {
  flex: 1;
}

.wrapper {
  position: relative;
  flex: 1;
  gap: rem(28);
  border-radius: var(--mantine-radius-lg);
}

.announcement {
  z-index: 2;
  align-items: center;
  padding: rem(8) rem(16) 0;
  border-radius: var(--mantine-radius-lg);
  margin: 0 auto;
  max-width: rem(600);
}

.imageWrapper {
  height: 75%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}
