.container {
  cursor: pointer;
  position: relative;

  overflow: hidden;
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
  justify-content: center;
}

.carousel {
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 0;
  overflow: hidden;
}

.carouselRoot {
  background-color: unset;
}

.carouselViewport {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.title {
  gap: rem(8);
  padding: rem(16) rem(16) 0;
}

.carouselControl {
  background-color: alpha(var(--mantine-color-dark-6), 0.75);
  color: white;

  &:hover {
    background-color: alpha(var(--mantine-color-dark-6), 1);
  }
}
