.container {
  cursor: pointer;
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  border-radius: var(--mantine-radius-lg);
  justify-content: center;
}

.carousel {
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 0;
  overflow: hidden;
}

.carouselRoot {
  background-color: unset;
  clip-path: inset(2px);
}

.carouselViewport {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.title {
  display: flex;
  align-items: center;
  gap: rem(8);
  padding: rem(16) rem(16) 0;
}

.carouselControl {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  color: light-dark(var(--mantine-color-dark-8), var(--mantine-color-white));

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  }
}

.titleLink {
  display: flex;
  align-items: center;
  gap: rem(8);
}

.viewButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
