.container {
  cursor: pointer;
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  border-radius: var(--mantine-radius-lg);
  justify-content: center;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    width: 90%;
    height: 10px;
    box-shadow: var(--mantine-shadow-sm);
    pointer-events: none;
  }
}

.carousel {
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 0;
  overflow: hidden;
  clip-path: inset(1px);
}

.carouselRoot {
  background-color: unset;
}

.carouselViewport {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.title {
  display: flex;
  align-items: center;
  gap: rem(8);
  padding: rem(16) rem(16) 0;
}

.carouselControl {
  background-color: alpha(
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6)),
    0.75
  );
  color: light-dark(var(--mantine-color-dark-8), var(--mantine-color-white));

  &:hover {
    background-color: alpha(
      light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6)),
      1
    );
  }
}

.titleLink {
  display: flex;
  align-items: center;
  gap: rem(8);
}
