.container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: rem(2);
  height: rem(24);
  min-width: rem(24);

  @media (max-width: $mantine-breakpoint-sm) {
    min-height: rem(24);
    min-width: rem(24);
  }
}

.stick {
  height: rem(2);
  width: 100%;
  background-color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-white));
}
