.content {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.item {
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  border-radius: var(--mantine-radius-lg);
}

.root {
  border: none;
}

.control {
  border-radius: var(--mantine-radius-lg);
  background: none !important;
  gap: 0;
}

.controlWrapper {
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-sm) {
    flex: 0 1;
    flex-direction: column;
    justify-content: unset;
  }
}
