.videoWrapper {
  display: flex;

  max-height: 75vh;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  border-radius: var(--mantine-radius-lg);
}

.video {
  margin: auto;
  height: 100%;
  width: fit-content;
  object-fit: contain;
  clip-path: inset(0 3px 0 0);
  aspect-ratio: 9/16.5;
}

.explanation {
  border-radius: var(--mantine-radius-lg);
  border: rem(2) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  padding: rem(16);
}

.button {
  cursor: pointer;
  outline: none;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--mantine-color-brand-7);
  border-radius: var(--mantine-radius-lg);
  transition: all 0.25s ease-in-out;
  color: var(--mantine-color-white);

  padding: 0 rem(16);
  height: rem(32);
  font-size: rem(14);
  font-weight: 600;

  max-width: rem(200);
  width: 100%;
  margin-left: auto;

  &:hover {
    background-color: var(--mantine-color-brand-8);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: unset;
  }
}
