.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-content: center;
  transform: translateY(-2.5%);

  @media (max-width: $mantine-breakpoint-sm) {
    transform: translateY(-1.25%);
  }
}
