.container {
  gap: 0;
}

.header {
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: flex;
  align-items: center;
  gap: rem(12);
}

.child {
  padding-left: rem(32);
  margin-top: rem(12);
  font-size: var(--mantine-font-size-sm);
}
