.container {
  position: absolute;
  inset: 0;
  z-index: 1;

  background-color: alpha(var(--mantine-color-dark-9), 0.5);

  flex: 1;
  border-radius: var(--mantine-radius-lg);
  animation: 0.2s fadeIn forwards;
  opacity: 0;
}

.button {
  margin: auto;
  z-index: 2;
}

.close {
  cursor: pointer;
  position: absolute;
  right: rem(16);
  top: rem(16);
}

@keyframes fadeIn {
  0% {
    pointer-events: none;
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    pointer-events: all;
    opacity: 1;
  }
}
