.container {
  gap: rem(12);
}

.available,
.pending {
  margin-left: rem(16);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: rem(32);
  min-height: rem(60);
  gap: rem(8);

  align-items: center;
  justify-content: center;
  transform: translateY(2px);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(24);
  }
}

.pending {
  margin-left: unset;
  margin-right: rem(16);
  font-size: rem(24);
  color: var(--mantine-color-gray-6);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(20);
  }
}

.annotation {
  font-size: rem(10);
  position: absolute;
  top: rem(4);
  left: 0;
}

.section {
  position: relative;
  flex: 1;

  &:first-child {
    justify-content: flex-end;
    border-right: rem(1) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  }
}

.row {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.stack {
  gap: rem(12);
}

.header {
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;
}

.balance {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  border: rem(1) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  border-radius: var(--mantine-radius-lg);
  padding: 0 rem(12);
  justify-content: center;
  gap: 0;
}

.alertIcon {
  margin-right: rem(8);
  margin-top: auto;
  margin-bottom: auto;

  @media (max-width: $mantine-breakpoint-xs) {
    margin-top: rem(2);
    margin-bottom: unset;
  }
}

.currency {
  font-size: rem(16);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(14);
  }
}
