.container {
  gap: rem(12);
}

.wrapper {
  border: rem(2) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  border-radius: var(--mantine-radius-lg);
  padding: rem(12) rem(16) rem(16);
  min-height: rem(150);
}

.alertIcon {
  margin-right: rem(8);
  margin-top: auto;
  margin-bottom: auto;

  @media (max-width: $mantine-breakpoint-xs) {
    margin-top: rem(2);
    margin-bottom: unset;
  }
}

