.container {
  position: relative;
  flex: 1;
  overflow: auto;
  /* background-color: alpha(var(--mantine-color-dark-6), 0.5); */
  border-radius: var(--mantine-radius-lg);
  background-color: alpha(var(--mantine-color-red-6), 0.5);
}

.refresh {
  position: absolute;
  top: rem(12);
  right: rem(12);
  z-index: 1;
}

.bgText {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-size: clamp(48px, 10vw, 72px);
  font-weight: 600;
  color: white;
  opacity: 0.05;
  position: absolute;
  left: 50%;
  top: 50%;
  inset: 0;
  z-index: -1;
}

.empty {
  margin-top: rem(15);
  display: block;
}

.scrollArea {
  position: relative;
  overflow: auto;
  gap: 0;
  background-color: alpha(var(--mantine-color-green-6), 0.5);

  padding: rem(16) rem(16) 0 rem(16);
  min-height: clamp(rem(500), 30vh, 40vh);
  max-height: clamp(rem(500), 30vh, 40vh);

  @media (max-width: $mantine-breakpoint-sm) {
    max-height: unset;
  }
}
