.container {
  position: relative;
  flex: 1;
  overflow: auto;
  background-color: alpha(var(--mantine-color-dark-6), 0.5);
  border-radius: var(--mantine-radius-lg);
}

.scrollArea {
  display: flex;
  position: absolute;
  inset: 0;
  gap: 0;
  overflow: auto;
  padding: rem(16);
  gap: rem(16);

  &::-webkit-scrollbar {
    display: none;
  }
}

.refresh {
  position: absolute;
  top: rem(12);
  right: rem(12);
  z-index: 1;
}

.bgText {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-size: clamp(48px, 10vw, 72px);
  font-weight: 600;
  color: white;
  opacity: 0.05;
  position: absolute;
  left: 50%;
  top: 50%;
  inset: 0;
  z-index: -1;
}
