.container {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
  gap: rem(8);
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
  padding: rem(16);

  overflow: auto;
}

.content {
  flex: 1;
  gap: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.box {
  transform: translateY(-25%);
}

.title {
  text-align: left;
  width: 100%;
  font-size: var(--mantine-font-size-sm);
}

.icon {
  width: rem(100);
  height: rem(100);
  margin: auto;
}
