.pillGroup {
  flex-wrap: nowrap;
}

.dropdown {
  min-width: rem(150);
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
}

.placeholderText {
  text-align: center;
  font-size: var(--mantine-font-size-sm);
  margin: auto;
}
