.container {
  cursor: pointer;
  position: relative;
  gap: rem(4);
  height: fit-content;
  max-width: rem(80);
}

.productImage {
  max-width: rem(80);
  max-height: rem(80);
  border-radius: var(--mantine-radius-lg);
  object-fit: cover;
}

.productMeta {
  gap: rem(2);
}

.productTitle {
  font-size: var(--mantine-font-size-sm);
}

.checkButton {
  position: absolute;
  right: 0;
  padding: 0 rem(8);
}

.rating {
  display: flex;
  gap: rem(2);
}
