.container {
  position: relative;
  flex: 1;
}

.wrapper {
  position: relative;
  flex: 1;
  overflow: auto;
}

.text {
  position: absolute;
  inset: 0;
  background-color: alpha(var(--mantine-color-dark-6), 0.75);
  border-radius: var(--mantine-radius-lg);
}

.cell {
  display: flex;
  gap: rem(4);
  align-items: center;
}
