.container {
  flex: 1;
}

.wrapper {
  background-color: alpha(var(--mantine-color-dark-6), 0.25);

  padding: rem(10%) rem(16);
  border-radius: var(--mantine-radius-lg);
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: rem(18);
  text-align: center;
}

.button {
  width: 100%;
  max-width: rem(250);
}
