.container {
  display: flex;
  gap: rem(4);
  justify-content: space-between;
  font-size: var(--mantine-font-size-sm);

  padding: 0 rem(4);

  position: absolute;
  top: rem(16);
  right: rem(16);
  z-index: 2;
}

.topRight {
  right: rem(16);
}

.topLeft {
  right: unset;
  left: rem(16);
}

.bottomLeft {
  right: unset;
  top: unset;
  bottom: rem(16);
  left: rem(16);
}

.bottomRight {
  top: unset;
  bottom: rem(16);
}
