.container {
  min-height: rem(32);
  align-items: flex-start;
  gap: rem(12);
}

.title {
  margin-right: auto;
}

.nowrap {
  white-space: nowrap;
}

.nowrapContainer {
  flex-wrap: nowrap;
}

.center {
  align-items: center;
}
