.container {
  position: relative;
  width: rem(300);
  height: rem(300);
}

.image {
  border-radius: var(--mantine-radius-lg);

  position: absolute;
  object-fit: cover;
  z-index: 0;
  left: 50%;
  top: 50%;
}
