.container {
  align-items: flex-start;
  justify-content: space-between;
}

.left {
  align-items: center;
  align-items: flex-start;
}

.right {
  flex: 1;
  justify-content: flex-end;
  min-width: rem(300);

  @media (max-width: $mantine-breakpoint-xs) {
    max-width: unset;
  }
}
