.skeleton {
  position: relative;
}

.container {
  align-items: center;
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;
  flex-wrap: nowrap;
  flex: 1;
  width: 100%;
  gap: 0;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  border: rem(1) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.content {
  flex-wrap: nowrap;
  padding: 0 rem(16);
  flex: 1;
}

.count {
  white-space: nowrap;
}

.deleted {
  opacity: 0.5;
}
