.target {
  position: absolute;
  flex: 1;
  z-index: 2;
  gap: rem(8);
  pointer-events: all;
}

.relative {
  position: relative;
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
}

.dropdown {
  pointer-events: all;
}
