.container {
  align-items: center;
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;
  flex-wrap: nowrap;
  gap: 0;
  flex: 1;
  width: 100%;
  min-width: rem(200);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  border: rem(2) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

.head {
  gap: rem(4);
  padding: rem(8) rem(16);
  width: 100%;
  flex-wrap: nowrap;
}

.title {
  font-size: var(--mantine-font-size-md);
}

.label {
  display: flex;
  justify-content: center;
}

.imageWrapper {
  aspect-ratio: 9/16;
  flex: 1;
  width: 100%;
  background-color: alpha(
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5)),
    0.5
  );
}

.image {
  height: 100%;
}

.icon {
  white-space: nowrap;
}
