.container {
  flex: 1;
}

.reasoningWrapper {
  max-height: 55vh;
  border-radius: rem(16);
  padding: rem(16);
  border: rem(2) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.streamingContent {
  cursor: default;

  flex-direction: column-reverse;
  position: relative;
  overflow: auto;

  & p {
    margin: 0;
  }
}

.content {
  cursor: default;
  flex-direction: column-reverse;

  position: relative;
  overflow: auto;

  border-radius: rem(16);
  padding: rem(16);
  border: rem(2) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  margin-bottom: 20%;

  & p {
    margin: 0;
  }
}

.summaryContainer {
  cursor: default;
}

.buttonWrapper {
  margin-top: rem(8);
  margin-left: auto;

  @media (max-width: $mantine-breakpoint-xs) {
    margin-left: unset;
    justify-content: center;
  }
}

.button {
  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
  }
}

.alert {
  cursor: default;
  font-size: var(--mantine-font-size-sm);

  & span {
    cursor: pointer;
    font-size: var(--mantine-font-size-sm);
    text-decoration: underline;
  }
}
