.container {
  position: relative;
  flex: 1;
  overflow: auto;
  background-color: alpha(var(--mantine-color-dark-6), 0.5);
  border-radius: var(--mantine-radius-lg);
}

.scrollArea {
  display: flex;
  position: absolute;
  inset: 0;
  gap: 0;
  overflow: auto;
  padding: rem(16);
  gap: rem(16);

  &::-webkit-scrollbar {
    display: none;
  }
}
