.container {
  position: relative;
  flex: 1;
  overflow: auto;
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
}

.scrollArea {
  display: flex;
  position: absolute;
  inset: 0;
  gap: 0;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
