.image {
  width: 100%;
  max-height: rem(200);
  min-height: rem(200);
  object-fit: contain;
  display: flex;
}

.imageWrapper {
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-raidus-lg);
}

.titleGroup {
  flex-wrap: nowrap;
  gap: rem(8);
}

.icon {
  margin-right: rem(8);
}

.ratingWrapper {
  flex-wrap: nowrap;
  gap: rem(8);
}
