.content {
  gap: rem(8);
  padding: rem(16);
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
}

.featuresStack {
  gap: rem(8);
  max-height: rem(160);
  overflow: auto;
}

.selectedItemStack {
  display: flex;
  flex-direction: column;
  gap: rem(12);
}

.selectProductContainer {
  cursor: pointer;
  min-width: rem(100);
  max-width: rem(100);
  flex-basis: 33%;
  gap: rem(4);
  align-items: center;

  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;

  border: rem(2) solid transparent;

  &:hover {
    background-color: var(--mantine-color-dark-5);
  }
}

.selectProductImageWrapper {
  position: relative;

  width: 100%;
  aspect-ratio: 1;
}

.selectProductImage {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.selectProductName {
  font-size: var(--mantine-font-size-sm);
  text-align: center;
}

.selected {
  border: rem(2) solid var(--mantine-color-brand-6);
}

.featureRow {
  gap: rem(16);
  align-items: center;
  flex-wrap: nowrap;
}

.name {
  font-weight: 600;
}

.addedProductContainer {
  cursor: pointer;
  position: relative;
  width: rem(50);
  height: rem(50);
}

.addedProductImage {
  position: absolute;
  inset: 0;
  object-fit: cover;
  border-radius: var(--mantine-radius-lg);
}

.disclaimer {
  font-size: rem(12);
  text-align: center;
}
