.container {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.icon {
  margin-right: rem(8);
}

.name {
  font-weight: 600;
}

.header {
  flex: 1;
  flex-wrap: nowrap;
}
