.container {
  position: relative;
  overflow-y: auto;
  flex: 1;
}

.wrapper {
  position: relative;
  flex: 1;
}

.routineContent {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.active {
  background-color: var(--mantine-color-green-7);
}

.label {
  padding: rem(16) 0;
}

.getMoreButton {
  margin-bottom: rem(16);
  margin: auto;
}

.content {
  inset: 0;
  overflow: hidden;
  flex: 1;
  border-radius: rem(16);
  max-height: rem(650);
}

.unbound {
  max-height: unset;
}
