.container {
  position: relative;
  overflow-y: auto;
  flex: 1;
}

.content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: rem(16);
  padding: 0 rem(16) rem(16);
}

.active {
  background-color: var(--mantine-color-green-7);
}

.accordion {
  position: absolute;
  inset: 0;
  background-color: none !important;
}

.chevron {
  display: none;
}

.label {
  padding: rem(16) 0;
}

.control {
  cursor: pointer;
  background: none !important;
}

.getMoreButton {
  margin-bottom: rem(16);
  margin: auto;
}
