.container {
  position: absolute;
  flex: 1;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 1;
  box-shadow: var(--mantine-shadows-md);
  padding: rem(16);
}

.wrapper {
  gap: 0;
}

.buttons {
  gap: 0;
}

.button {
  display: flex;
  align-items: center;
  gap: rem(8);
  font-size: white;
  z-index: 301;
  flex: 1;
  padding: rem(8) rem(16);
  border-radius: rem(16) rem(16) 0 0;
  text-align: center;
}

.selected {
  border: rem(1) solid var(--mantine-color-brand-5);
}

.segmentedControl {
  width: 100%;
  z-index: 301;
  background-color: transparent;
  padding: 0 rem(12);
  margin-bottom: rem(8);
}

.overlay {
  background-color: transparent;
}
