.container {
  width: 100%;
  margin: auto;
}

.content {
  flex: 1;
}

.listWrapper {
  position: relative;
  flex: 1;
}

.list {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  flex: 1;
  inset: 0;
  gap: rem(12);
}

.button {
  margin-left: auto;

  @media (max-width: $mantine-breakpoint-xs) {
    margin-left: unset;
  }
}
