.cell {
  display: flex;
  align-items: center;
  gap: rem(6);
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: rem(4)
}

.text {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0;
  gap: rem(4);
  flex-wrap: nowrap;
  white-space: nowrap;
  font-size: rem(14);
}
