.container {
  align-items: center;
  gap: rem(4);
  width: 100%;
  transform: translateY(-10%);
}

.title {
  color: var(--mantine-color-gray-2);
  max-width: 75%;
  text-align: center;
  margin: rem(32) auto rem(12);
}

.checkbox {
  color: var(--mantine-color-gray-2);
  margin-bottom: rem(20);
}
