.container {
  position: relative;
  z-index: 3;

  flex: 1;

  border-radius: var(--mantine-radius-lg);
}

.wrapper {
  margin: 30% auto;
  gap: rem(12);
}

.button {
  margin: auto;
  z-index: 2;
  width: 100%;
  max-width: rem(400);
}

@keyframes fadeIn {
  0% {
    pointer-events: none;
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    pointer-events: all;
    opacity: 1;
  }
}
