.container {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.imageWrapper {
  cursor: pointer;
  position: relative;

  display: flex;
  overflow: hidden;
  justify-content: center;
  margin: auto;
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
  width: 100%;
}

.image {
  width: clamp(rem(300), 80%, rem(480));
  height: 100%;
  display: block;
  object-fit: contain;
}

.date {
  position: absolute;
  bottom: rem(8);
  right: rem(8);
  z-index: 2;
}

.styleName {
  position: absolute;
  bottom: rem(16);
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;
}
