.container {
  position: relative;
  flex: 1;
}

.image {
  margin: auto;
  object-fit: contain;
  height: 100%;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 16/9;
  min-height: rem(75);
  max-height: rem(100);
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
}

.buttonGroup {
  width: 100%;
}

.icon {
  margin-right: rem(8);
}

.skeleton {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.chartWrapper {
  position: relative;
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  min-height: rem(250);
  flex: 1;
  z-index: 0;
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;

  @media (max-width: $mantine-breakpoint-xs) {
    min-height: rem(200);
  }
}

.overlay {
  display: flex;
  flex: 1;
}

.tableStack {
  gap: rem(8);
  padding: rem(16);
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
}
