.container {
  position: relative;
  flex: 1;
  height: 100%;
  align-self: center;
  aspect-ratio: 9/16;
}

.deleteIcon {
  position: absolute;
  top: rem(16);
  right: rem(16);
  z-index: 1;
}

.image {
  display: flex;
  flex: 1;
  width: 100%;
  object-fit: contain;
  background-image: linear-gradient(
    45deg,
    var(--mantine-color-dark-7) 49.9%,
    alpha(var(--mantine-color-brand-6), 0.5) 50%,
    alpha(var(--mantine-color-brand-6), 0.5) 74.9%,
    var(--mantine-color-dark-5) 75%
  );
}
