.container {
  flex: 1;
}

.content {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: rem(16);
  overflow: auto;
}

.title {
  display: flex;
  align-items: center;
  gap: rem(8);
}

.icon {
  margin-right: rem(6);
}
