.container {
  width: 100%;
  margin: auto;

  max-width: clamp(rem(1080), 38.5%, rem(1280));
  box-shadow: var(--mantine-shadows-md);
  border: rem(2) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));

  border-radius: var(--mantine-radius-lg);

  @media (max-width: $mantine-breakpoint-xs) {
    transform: unset;
  }
}

.wrapper {
  padding: rem(16);
}

.content {
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.titleWrapper {
  align-items: center;

  @media (max-width: $mantine-breakpoint-xs) {
    gap: rem(12);
  }
}
