.container {
  width: 100%;
  margin: auto;

  max-width: clamp(rem(1280), 38.5%, rem(1440));
  box-shadow: var(--mantine-shadows-md);
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));

  border-radius: var(--mantine-radius-lg);

  @media (max-width: $mantine-breakpoint-xs) {
    transform: unset;
  }
}

.wrapper {
  padding: rem(16);
}

.content {
  max-height: calc(100vh- 548px);

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}
