.td {
  &:first-child {
    font-size: rem(32);
    text-align: center;
  }
}

.th {
  white-space: nowrap;
}

.description {
  padding: rem(8) rem(16);
  border-radius: var(--mantine-radius-lg);
  font-size: var(--mantine-font-size-sm);
  background-color: var(--mantine-color-dark-6);
  text-align: center;
}

.actionWrapper {
  margin-bottom: rem(8);
}