.title {
  display: flex;
  align-items: center;
  gap: rem(8);
}

.content {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.accordionWrapper {
  position: relative;
  flex: 1;
}

.accordion {
  position: absolute;
  inset: 0;
  background-color: none !important;
}

.item {
  border: rem(1) solid var(--mantine-color-dark-5);
  border-radius: var(--mantine-radius-lg);
}

.root {
  border: none;
}

.control {
  border-radius: var(--mantine-radius-lg);
  background: none !important;
  gap: 0;
}

.controlWrapper {
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-sm) {
    flex: 0 1;
    flex-direction: column;
    justify-content: unset;
  }
}

.chevron {
  display: none;
}
