.container {
  flex: 1;
}

.buttonsGroup {
  flex-wrap: nowrap;
}

.actionButton {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.exampleWrapper {
  gap: 0;
  border-radius: var(--mantine-radius-lg);
}

.editModalContent {
  width: 100%;
  height: auto;
  max-width: rem(400);
}

.statusNote {
  font-size: var(--mantine-font-size-sm);
}

.banner {
  justify-content: center;
  text-align: center;
  background-color: var(--mantine-color-green-7);
  height: rem(22);
  border-radius: var(--mantine-radius-md);
}

.red {
  background-color: var(--mantine-color-red-7);
}

.bannerText {
  color: white;
  font-weight: 600;
  font-size: var(--mantine-font-size-sm);
}
