.container {
  flex: 1;
}

.buttonsGroup {
  flex-wrap: nowrap;
}

.exampleWrapper {
  gap: 0;
  border-radius: var(--mantine-radius-lg);
}

.editModalContent {
  width: 100%;
  height: auto;
  max-width: rem(400);
}

.statusNote {
  font-size: var(--mantine-font-size-sm);
}
