.container {
  flex: 1;
  height: 100%;
}

.content {
  position: relative;
  flex: 1;
  overflow: auto;
}

.serie {
  white-space: nowrap;
  font-weight: 600;
}

.root,
.viewport,
.slide {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.container {
  flex: 1;
  height: 100%;
}

.carouselControl {
  background-color: alpha(var(--mantine-color-brand-5));
  color: white;

  &:hover {
    background-color: alpha(var(--mantine-color-brand-6), 1);
  }
}
