.container {
  flex: 1;
  height: 100%;
}

.content {
  position: relative;
  flex: 1;
  overflow: auto;
}

.serie {
  white-space: nowrap;
  font-weight: 600;
}

.scrollArea {
  position: relative;
  flex: 1;
}

.listWrapper {
  position: absolute;
  width: 100%;
}
