.container {
  flex: 1;
  min-height: rem(480);
}

.wrapper {
  position: relative;
  z-index: 0;
  flex: 1;
  overflow-y: auto;
}

.content {
  position: absolute;
  inset: 0;
}

.icon {
  margin-right: rem(8);
}
