.container {
  flex: 1;
}

.wrapper {
  width: 100%;
}

.calendarHeader {
  margin: auto;
  text-align: center;
  max-width: unset;
  margin-bottom: rem(12);
}

.calendarMonth {
  width: 100%;
  text-align: center;
}

.date {
  padding: rem(8) rem(16);
  background-color: var(--mantine-color-dark-6);
  border: rem(1) solid var(--mantine-color-dark-5);
  border-radius: var(--mantine-radius-lg);
  text-align: center;
}
