.container {
  width: 100%;
  cursor: pointer;
}

.enter {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input {
  width: 100%;

  & textarea {
    border: rem(1) solid var(--mantine-color-dark-5);
  }
}

.disableInput {
  pointer-events: none;
}

.inputGroup {
  position: relative;
  flex: 1;
  gap: rem(12);
  flex-wrap: nowrap;
  align-items: flex-end;
}

.uploadRow {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(-100% - rem(16)));
}

.submit {
  cursor: pointer;
  border: none;
  min-width: rem(42);
  min-height: rem(42);
  border: rem(1) solid var(--mantine-color-dark-5);
}

.starterQuestions {
  overflow: auto;
  flex: 1;

  &::-webkit-scrollbar {
    display: none;
  }
}

.starterQuestionsWrapper {
  flex-wrap: nowrap;
  gap: rem(8);
}
