.container {
  flex: 1;
  position: relative;
}

.content {
  position: relative;
  flex: 1;

  overflow: auto;
}

.addToCartGroup {
  padding: rem(16);
  position: sticky;
  bottom: rem(16);
  left: rem(16);
  right: rem(16);
  background-color: alpha(var(--mantine-color-dark-6), 0.75);
}
