.container {
  position: relative;
  flex: 1;
  gap: 0;
  background-color: alpha(light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6)));
  border-radius: rem(16);
  overflow: hidden;
}

.dates {
  position: absolute;
  left: rem(16);
  right: rem(16);
  top: rem(12);
  justify-content: space-between;
  z-index: 1;
}

.control {
  &[data-inactive] {
    display: none;
  }
}

.controls {
  right: rem(16);
  gap: rem(8);
  left: unset;
  justify-content: flex-end;
  padding: rem(16) 0;
}

.slide {
  height: 100%;
}
