.container {
  display: flex;
  z-index: 1000;
  width: 100%;
  overflow: hidden;
  height: unset;
  flex: 1;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--mantine-radius-lg);
  gap: rem(16);
  flex: 1;
}
