.container {
  gap: 0;
  justify-content: center;
  align-items: center;
  transform: translateY(-2.5%);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-content: center;
}
