.container {
  cursor: pointer;
  padding: rem(16);
  border-radius: var(--mantine-radius-lg);
  background-color: alpha(var(--mantine-color-dark-6), 0.5);
  border: rem(1) solid var(--mantine-color-dark-5);

  &:hover {
    background-color: alpha(var(--mantine-color-dark-6), 0.75);
  }
}

.rating {
  font-size: rem(16);
  margin: auto;
}

.text {
  padding: rem(16);
  border-radius: var(--mantine-radius-lg);
  background-color: alpha(var(--mantine-color-dark-5), 0.5);
}
