.container {
  cursor: pointer;
}

.wrapper {
  position: relative;
  overflow: hidden;
  gap: rem(8);
  padding: 0 rem(16) 0 rem(4);
  border: rem(2) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  border-radius: rem(4) var(--mantine-radius-lg) var(--mantine-radius-lg) rem(4);
  flex-wrap: nowrap;
  justify-content: space-between;

  &:last-child {
    margin: unset;
  }
}

.title {
  flex-wrap: nowrap;
  max-width: 65%;
  gap: rem(12);
}

.name {
  white-space: wrap;
  font-size: var(--mantine-font-size-md);
}

.content {
  flex-wrap: nowrap;
  gap: rem(12);
}
