.container {
  cursor: pointer;
}

.wrapper {
  position: relative;
  overflow: hidden;
  gap: rem(8);
  padding: 0 rem(16) 0 rem(12);
  background-color: var(--mantine-color-dark-6);
  border-radius: rem(4) var(--mantine-radius-lg) var(--mantine-radius-lg) rem(4);
  border-bottom: none;
  flex-wrap: nowrap;
  justify-content: space-between;

  &:last-child {
    margin: unset;
  }
}

.title {
  flex-wrap: nowrap;
  max-width: 65%;
  gap: rem(12);
}

.grid {
  row-gap: 0;
  column-gap: rem(8);
  width: 100%;
  max-width: 30%;
}

.name {
  white-space: wrap;
  font-size: var(--mantine-font-size-md);
}

.menuItemLabel {
  display: flex;
  align-items: center;
  gap: 0;
}

.content {
  flex-wrap: nowrap;
  gap: rem(12);
}
