.slideContent {
  position: relative;
  height: 100%;
  gap: rem(12);
}

.questionText {
  display: inline-block;
}

.submitButton {
  min-height: rem(24);
}

.header {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-wrap: nowrap;
}
