.container {
  width: 100%;
  padding: rem(16);
  border-radius: var(--mantine-radius-lg);
  background-color: var(--mantine-color-dark-6);
  gap: rem(8);
}

.titleGroup {
  justify-content: space-between;
}

.title {
  font-size: var(--mantine-font-size-xs);
}

.label {
  top: 0;
  height: rem(28);
  line-height: rem(28);
  width: rem(34);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: transparent;
}

.thumb {
  height: rem(28);
  width: rem(34);
  border: none;
}
