.container {
  position: relative;
  z-index: 0;
  flex: 1;

  justify-content: center;
  align-items: center;
  padding: rem(16);
  width: 100%;
  border-radius: rem(16);
  background-color: var(--mantine-color-dark-6);
}

.wrapper {
  align-items: center;
  gap: rem(4);
}
