.container {
  position: relative;
  height: rem(24);
}

.wrapper {
  position: absolute;
  inset: 0;
  overflow: auto;
  flex-wrap: nowrap;
  gap: rem(8);
}

.link {
  display: flex;
  align-items: center;
  gap: rem(4);

  &:hover {
    color: white;
  }
}

.disabledLink {
  cursor: not-allowed;

  &:hover {
    color: unset;
  }
}
