.container {
  position: relative;
  height: rem(24);
}

.wrapper {
  position: absolute;
  inset: 0;
  overflow: auto;
  flex-wrap: nowrap;
}

.link {
  display: flex;
  align-items: center;
  gap: rem(8);

  &:hover {
    color: white;
  }
}

.label {
  font-size: var(--mantine-font-size-sm);
  overflow: hidden;
  text-overflow: ellipsis;
}
