.container {
  gap: rem(2);
  background-color: var(--mantine-color-dark-6);
  border: rem(1) solid var(--mantine-color-dark-5);
  border-radius: var(--mantine-radius-lg);
  padding: 0 rem(8);
}

.label {
  cursor: pointer;
  font-size: var(--mantine-font-size-xs);
  height: fit-content;
}

.text {
  display: flex;
  gap: rem(8);
  font-weight: 600;
}

.icon {
  width: rem(16);
  height: rem(16);
  display: flex;
  margin-left: rem(2);
  color: var(--mantine-color-gray-3);
}
