.container {
  flex: 1;
}

.content {
  gap: rem(8);
}

.imageWrapper {
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
}

.image {
  max-width: rem(200);
  margin: auto;
}

.text {
  text-align: center;
  font-size: var(--mantine-font-size-sm);
}
