.container {
  flex: 1;
}

.content {
  gap: rem(12);
}

.imageWrapper {
  min-height: rem(250);

  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
}

.image {
  width: rem(250);
  margin: auto;
}

.text {
  text-align: center;
  font-size: var(--mantine-font-size-sm);
}
