.container {
  position: absolute !important;
  inset: 0;
}

.accordion {
  background-color: none !important;
}

.item {
  border: rem(1) solid var(--mantine-color-dark-5);
  border-radius: var(--mantine-radius-lg);
}

.root {
  border: none;
  overflow: auto;
  flex: 1;
}

.control {
  border-radius: var(--mantine-radius-lg);
  background: none !important;
}

.chevron {
  display: none;
}
