.container {
  flex: 1;
  justify-content: center;
  align-items: center;

  padding: rem(16);
  border-radius: var(--mantine-radius-lg);

  background-image: linear-gradient(
    -45deg,
    var(--mantine-color-dark-7) 49.9%,
    alpha(var(--mantine-color-dark-6), 0.25) 50%,
    alpha(var(--mantine-color-dark-6), 0.25) 74.9%,
    alpha(var(--mantine-color-dark-6), 0.5) 75%
  );
}

.text {
  padding: rem(8) rem(16);
  background-color: var(--mantine-color-dark-6);
  border: rem(1) solid var(--mantine-color-dark-5);
  border-radius: var(--mantine-radius-lg);
  font-size: var(--mantine-font-size-sm);
}
