.content {
  position: relative;
  flex: 1;
  width: 100%;
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;

  & video {
    flex: 1;
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: rem(36);
  flex: 1;
  border-radius: var(--mantine-radius-lg);
  height: 100%;
}

.buttonGroup {
  position: absolute;
  top: rem(16);
  right: rem(16);
  z-index: 1;
}
