.container {
  display: flex;
  flex-direction: column;
  padding: rem(16);
  gap: rem(12);
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
}

.title {
  font-size: var(--mantine-font-size-sm);
}

.content {
  gap: rem(8);
}