.container {
  width: 100%;
  padding: rem(16);
  gap: 0;
  background-color: alpha(var(--mantine-color-dark-5), 0.5);
}

.stack {
  gap: rem(8);
}

.indicatorRowContainer {
  flex: 1;
  flex-wrap: nowrap;
}

.indicatorRowTargetIcon {
  white-space: nowrap;
}

.indicatorRowProgressRoot {
  flex: 1;
  width: 100%;
}

.popoverDropdown {
  padding: rem(4) rem(8);
}
