.container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: rem(12);
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));

  border-radius: var(--mantine-radius-lg);
  width: 100%;
  height: fit-content;
  overflow: hidden;

  aspect-ratio: 9/16;
}

.content {
  position: relative;
  width: 100%;
  flex: 1;
  border-radius: 0;
  gap: 0;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
}

.modalTitle {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: rem(12);
  font-weight: 600;

  & p {
    cursor: pointer;
  }
}
