.container {
  cursor: pointer;

  gap: 0;
  background-color: rgba(25, 25, 25, 0.4);
  border-radius: var(--mantine-radius-lg);
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.heading {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: var(--mantine-font-size-md);
  gap: rem(8);
  padding: rem(16) rem(12);
  border-radius: var(--mantine-radius-lg) var(--mantine-radius-lg) 0 0;
}

.content {
  position: relative;
  width: 100%;
  flex: 1;
  border-radius: 0;
  gap: 0;
  padding-bottom: 177%;
}

.taskName {
  font-weight: 600;
  font-size: var(--mantine-font-size-md);
}

.modalTitle {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: rem(12);
  font-weight: 600;

  & p {
    cursor: pointer;
  }
}
