.container {
  width: 100%;
  margin: auto;

  max-width: clamp(rem(1240), 38.5%, rem(1480));


  @media (max-width: $mantine-breakpoint-xs) {
    transform: unset;
  }
}

.wrapper {
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
  padding: rem(16);
}

.content {
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}
