.container {
  flex-wrap: nowrap;
  width: 100%;
  overflow: auto;
  padding: rem(16);
  gap: rem(12);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.wrapper {
  gap: rem(8);
}

.indicatorsWrapper {
  gap: rem(8);
  overflow: auto;
}

.labelGroup {
  cursor: pointer;
  gap: rem(8);
  align-items: center;
  font-size: var(--mantine-font-size-sm);
}

.barRoot {
  position: relative;
  flex: 1;
  gap: 0;
}

.barTotalLabel {
  overflow: auto;
}
