.container {
  flex-wrap: nowrap;
  width: 100%;
  overflow: auto;
  padding: rem(16);
  gap: rem(12);
}

.wrapper {
  gap: rem(4);
}

.indicatorsWrapper {
  gap: rem(8);
  max-height: rem(175);
  overflow: auto;
}
