.container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: rem(12);
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
  min-height: rem(60);
  padding: 0 rem(16);
}

.icon {
  margin-right: rem(4);
  min-width: rem(20);
}

.cell {
  flex: 1;
  gap: 0;
}

.text {
  margin: 0;
  flex-wrap: nowrap;
  gap: rem(4);
  white-space: nowrap;
}
