.container {
  max-width: rem(440);
  width: 100%;
  gap: 0;
  border-radius: var(--mantine-radius-lg);
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  overflow: hidden;
  z-index: 900;
  box-shadow: var(--mantine-shadows-md);
}

.heading {
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-radius: var(--mantine-radius-lg) var(--mantine-radius-lg) 0 0;
  background-color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-8));
  border-radius: rem(15) 0 0;
  overflow-x: hidden;
  overflow-y: visible;
  gap: rem(12);
}

.content {
  padding: rem(16);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}

.name {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: rem(16);
}
.description {
  font-size: var(--mantine-font-size-sm);
  text-align: center;
}

.glow {
  background-color: light-dark(#fff, #222);
  border-radius: rem(16);
}
