.container {
  position: relative;
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;
  width: 100%;
  gap: 0;
}

.buttonWrapper {
  padding: rem(8) rem(16) rem(16) rem(16);
}
