.container {
  position: relative;
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;
  width: 100%;
  gap: 0;
  box-shadow: var(--mantine-shadows-sm);
}

.buttonWrapper {
  padding: rem(8) rem(16) rem(24) rem(16);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}
