.container {
  position: relative;
  flex: 1;
}

.image {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.imageWrapper {
  max-height: rem(150);
  height: 100%;
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);
}

.button {
  flex: 1;
  padding: 0;
}

.buttonGroup {
  flex: 0 1;
}

.icon {
  margin-right: rem(8);
}

.skeleton {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}
