.container {
  position: relative;
  flex: 1;
}

.image {
  margin: auto;
  object-fit: contain;
  height: 100%;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 16/9;
  min-height: rem(150);
  max-height: rem(200);
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-lg);

  @media (max-width: $mantine-breakpoint-xs) {
    min-height: rem(75);
    max-height: rem(109);
  }
}

.button {
  flex: 1;
  padding: 0;
}

.buttonGroup {
  width: 100%;
}

.icon {
  margin-right: rem(8);
}

.skeleton {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}
