.container {
  cursor: pointer;
  position: relative;
  flex: 1;
  border-radius: var(--mantine-radius-lg);
  width: 100%;
  min-width: rem(200);

  background-color: alpha(
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5)),
    0.5
  );
  border: rem(1) solid transparent;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  }
}

.icon {
  width: rem(19);
  height: rem(19);

  & path {
    stroke: var(--mantine-color-gray-4);
  }
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.imageWrapper {
  position: relative;
  display: flex;

  padding-bottom: 176%;
  background-image: linear-gradient(
    45deg,
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7)) 49.9%,
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7)) 50%,
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7)) 84.9%,
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7)) 85%
  );
  border-radius: var(--mantine-radius-lg) var(--mantine-radius-lg) 0 0;

  &:hover {
    background-image: linear-gradient(
      45deg,
      light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7)) 49.9%,
      light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7)) 50%,
      light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7)) 84.9%,
      light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5)) 85%
    );
  }
}

.image {
  position: absolute;

  width: 100%;
  height: 100%;
}

.stack {
  gap: 0;
  align-items: center;
  margin: auto;
}

.overlay {
  display: flex;
  z-index: 0;
  background-color: light-dark(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25));
  border-radius: var(--mantine-radius-lg) var(--mantine-radius-lg) 0 0;

  &:hover {
    color: var(--mantine-color-dark-2);
    background-color: transparent;
  }
}

.disabledOverlay {
  cursor: not-allowed;
  background-color: light-dark(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25));

  &:hover {
    background-color: light-dark(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25));
  }
}

.label {
  display: flex;
  align-items: center;
  gap: rem(8);
  padding: rem(8) rem(16);
}

.dark {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.light {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}
