.container {
  cursor: pointer;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: rem(12);
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  border-radius: var(--mantine-radius-lg);
  min-height: rem(60);
  padding: rem(16);
  height: unset;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    width: 90%;
    height: 10px;
    box-shadow: var(--mantine-shadow-sm);
    pointer-events: none;
    animation: unset;
  }
}

.cursorDefault {
  cursor: default;
}

.name {
  display: flex;
  align-items: center;
  gap: rem(8);
  font-weight: 600;
}

.subscribe {
  margin-left: rem(8);
}

.button {
  @media (max-width: $mantine-breakpoint-xs) {
    min-width: rem(150);
    flex: 1;
  }
}
