.accordionContent {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: rem(16);
  padding: 0 rem(12) rem(16) rem(16);
  border-radius: rem(8);
  flex: 1;
}

.accordionLabel {
  cursor: pointer;
  padding: rem(16) 0;
}

.accordionChevron {
  display: none;
}

.accordionItem {
  background-color: transparent;
  border: rem(2) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  border-radius: var(--mantine-radius-lg);
}

.accordionRoot {
  border: none;
}

.accordionControl {
  border-radius: var(--mantine-radius-lg);
  background: none !important;
  gap: 0;
}
