@import "./normalize.css";
@import "./scrollbar.css";
@import "./gradientSpin.css";

* {
  box-sizing: border-box;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-height: rem(2160);
  max-width: rem(3840);
  overflow-x: hidden;
  margin: auto;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-thumb {
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}

.bgPattern {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: linear-gradient(
    -45deg,
    var(--mantine-color-dark-7) 49.9%,
    alpha(var(--mantine-color-dark-6), 0.25) 50%,
    alpha(var(--mantine-color-dark-6), 0.25) 74.9%,
    alpha(var(--mantine-color-dark-6), 0.5) 75%
  );
}

.skeleton {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.selected {
  background-color: var(--mantine-color-dark-6);
  background-color: var(--mantine-color-dark-5);
  border: rem(1) solid var(--mantine-color-dark-4);
}

.icon {
  width: rem(20);
  height: rem(20);

  &__small {
    min-width: rem(16);
    min-height: rem(16);
    max-width: rem(16);
    max-height: rem(16);
  }

  &__large {
    min-width: rem(24);
    min-height: rem(24);
    max-width: rem(24);
    max-height: rem(24);
  }

  &__title {
    min-width: rem(32);
    min-height: rem(32);
    max-width: rem(32);
    max-height: rem(32);
  }

  &__gray {
    color: var(--mantine-color-gray-4);
  }
}

.react-player__preview {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.smallPage {
  max-width: clamp(rem(740), 38.5%, rem(860));
  width: 100%;
}

.mediumPage {
  max-width: clamp(rem(960), 38.5%, rem(1280));
  width: 100%;
}

.largePage {
  max-width: clamp(rem(1280), 38.5%, rem(1480));
  width: 100%;
}

.smallPage,
.mediumPage,
.largePage {
  margin: 0 auto;
  flex: 1 0;
}

.carouselControl {
  background-color: alpha(var(--mantine-color-gray-5));
  color: var(--mantine-color-dark-5);
  border-color: transparent;

  &:hover {
    background-color: alpha(var(--mantine-color-gray-6), 1);
    border-color: transparent;
  }

  &[data-inactive] {
    cursor: default;
    opacity: 0;
    visibility: hidden;
  }
}

.checkboxInput {
  border: rem(1) solid var(--mantine-color-dark-2);
}

.priceGroup {
  flex-wrap: nowrap;
  gap: rem(4);
  color: white;
  width: 100%;
  justify-content: center;
}
