@import "./normalize.css";
@import "./scrollbar.css";
@import "./gradientSpin.css";
@import "./accordion.css";

* {
  --header-height: rem(70);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-height: rem(2160);
  max-width: rem(3840);
  overflow-x: hidden;
  margin: auto;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-thumb {
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}

.bgPattern {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image:
    repeating-linear-gradient(
      4deg,
      transparent 40%,
      light-dark(var(--mantine-color-gray-0), lighten(var(--mantine-color-dark-7), 0.0125)) 40%,
      light-dark(var(--mantine-color-gray-0), lighten(var(--mantine-color-dark-7), 0.0125)) 80%,
      transparent 80%,
      transparent 140%
    ),
    repeating-linear-gradient(
      170deg,
      transparent 80%,
      light-dark(var(--mantine-color-gray-0), lighten(var(--mantine-color-dark-7), 0.0125)) 80%,
      light-dark(var(--mantine-color-gray-0), lighten(var(--mantine-color-dark-7), 0.0125)) 100%,
      transparent 100%,
      transparent 180%
    );
  background-position:
    0 0,
    0 100%;

  @media (max-width: $mantine-breakpoint-xs) {
    background-image:
      repeating-linear-gradient(
        20deg,
        transparent 40%,
        light-dark(var(--mantine-color-gray-0), lighten(var(--mantine-color-dark-7), 0.0125)) 40%,
        light-dark(var(--mantine-color-gray-0), lighten(var(--mantine-color-dark-7), 0.0125)) 75%,
        transparent 75%,
        transparent 140%
      ),
      repeating-linear-gradient(
        160deg,
        transparent 75%,
        light-dark(var(--mantine-color-gray-0), lighten(var(--mantine-color-dark-7), 0.0125)) 75%,
        light-dark(var(--mantine-color-gray-0), lighten(var(--mantine-color-dark-7), 0.0125)) 100%,
        transparent 100%,
        transparent 180%
      );
  }
}

.skeleton {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.icon {
  width: rem(20);
  height: rem(20);

  &__small {
    min-width: rem(16);
    min-height: rem(16);
    max-width: rem(16);
    max-height: rem(16);
  }

  &__large {
    min-width: rem(24);
    min-height: rem(24);
    max-width: rem(24);
    max-height: rem(24);
  }

  &__title {
    min-width: rem(32);
    min-height: rem(32);
    max-width: rem(32);
    max-height: rem(32);
  }
}

.segmentControlLabel {
  max-height: rem(28);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  @mixin dark {
    background-color: alpha(var(--mantine-color-black), 0.5);
  }

  @mixin light {
    background-color: alpha(var(--mantine-color-gray-0), 0.75);
  }
}

.react-player__preview {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.smallPage {
  max-width: clamp(rem(740), 38.5%, rem(860));
  width: 100%;
}

.mediumPage {
  max-width: clamp(rem(960), 38.5%, rem(1280));
  width: 100%;
}

.largePage {
  max-width: clamp(rem(1280), 38.5%, rem(1480));
  width: 100%;
}

.smallPage,
.mediumPage,
.largePage {
  margin: 0 auto;
  flex: 1 0;
}

.carouselControl {
  border-color: transparent;

  &:hover {
    border-color: transparent;
  }

  &[data-inactive] {
    cursor: default;
    opacity: 0;
    visibility: hidden;
  }
}

.priceGroup {
  flex-wrap: nowrap;
  gap: rem(4);
  width: 100%;
  justify-content: center;
}

.gradient {
  background-color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-8));
  background-image: linear-gradient(
    45deg,
    light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-8)) 0%,
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6)) 25%,
    light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-7)) 50%,
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5)) 75%,
    light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-8)) 100%
  );
}
