* {
  --rotate: 132deg;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.gradientSpin {
  position: absolute;
  inset: 0;
  z-index: 0 !important;
  height: inherit !important;
}

.gradientSpin::after,
.gradientSpin::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-image: conic-gradient(
    from var(--rotate),
    var(--mantine-color-orange-6),
    var(--mantine-color-red-6),
    var(--mantine-color-green-6),
    var(--mantine-color-red-6),
    var(--mantine-color-orange-6)
  );
  animation: spin 5s linear infinite;
  z-index: -1 !important;
  inset: rem(-2);
}

.gradientSpin::after {
  filter: blur(0.5rem);
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
