.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5)) transparent;

  overflow: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}
