.container {
  padding: rem(16);
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  border-radius: var(--mantine-radius-lg);
  justify-content: center;
  align-items: center;
  gap: rem(8);
}

.button {
  max-width: rem(250);
}
