.container {
  padding: rem(8);
  border: rem(1) solid transparent;
  border-radius: var(--mantine-radius-lg);
  align-items: center;
}

.highlightTos {
  border: rem(1) solid var(--mantine-color-brand-7);
}

.text {
  display: inline-block;
  font-weight: 600;
}

.pointer {
  cursor: "pointer";
}
