.container {
  flex: 1;
}

.wrapper {
  gap: rem(12);
}

.content {
  height: 50vh;
  max-height: rem(600);
  overflow: auto;
  gap: rem(12);
}

.filedset {
  padding: rem(4) rem(8) rem(8) rem(8);
}

.icon {
  margin-right: rem(8);
}
