.container {
  position: relative;
  padding: rem(12) rem(16);
  gap: rem(12);
  width: 100%;

  border-radius: var(--mantine-radius-lg);
  border: rem(2) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.row {
  position: relative;
  border-radius: var(--mantine-radius-lg);
  gap: rem(12);
  align-items: flex-start;
}

.content {
  flex: 1;
  gap: rem(2);
  margin: auto;
  flex-basis: 60%;
}

.name {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: var(--mantine-font-size-md);
  font-weight: 600;
  width: fit-content;
  gap: rem(8);
}

.relative {
  position: relative;
}

.button {
  flex: 1;
  flex-basis: 25%;
  min-width: rem(200);
}
